:root{
    --background-firstly-color: white;
    --background-secondary-color: lightgrey;
    --text-color: black;
    --description-color: grey;
    --primary-color: #0e3f74;
    --primary-color-darker: #0a2a4b;
} /* the default colors of the store*/

body {
    background-color: var(--background-firstly-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100vh;
}/*setting the body's colors margin padding and height*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}/*general rules for every tag */

.box {
    border: 0.5px solid var(--background-secondary-color);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(--background-secondary-color, 0.1);
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: var(--background-firstly-color);
    color: var(--text-color);
}/*a general style for all the containers with the colors we get from the post request onload*/

.box:hover{
    box-shadow: 0 8px 12px rgba(--background-secondary-color, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    transform: scale(1.02);
}/*adding a shadow and scaling up the boxes on hover*/


.product-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto;
    min-height: 600px;
}/*setting the sizes and layout for the container and it's items*/

.product-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: linear-gradient(135deg, var(--background-secondary-color), var(--background-secondary-color));
    border: 1px solid rgba(--background-secondary-color, 0.1);
    box-shadow: 0 4px 6px rgba(--background-firstly-color, 0.5);
    overflow: auto;
} /*setting a pretty background, border and aligning the media in the center*/

#productImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-shadow: 0 4px 6px rgba(--background-secondary-color, 0.5);
    transition: transform 0.3s ease-in-out;
} /*making the image fit in the canvas*/

.product-media:hover #productImage {
    transform: scale(1.05);
}/*makes the image bigger when hovered*/

#productVideo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-shadow: 0 4px 6px rgba(--background-secondary-color, 0.5);
    transition: transform 0.3s ease-in-out;
} /*making the video fit */

.product-media:hover #ProductVideo {
    transform: scale(1.05);
}/*makes the video bigger when hovered*/

.product-details {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}
#owner-section{
    display: flex;
    gap: 10px;
    align-items: center;
}


#product-name {
    flex-grow: 1;
}/*puts the product name in the middle and makes it large*/

.send-btn, .follow-btn {
    height: 100%;
    background-color: var(--primary-color-darker) !important;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    white-space: nowrap;
}/*styling for the follow button*/

.send-btn:hover, .follow-btn:hover {
    transform: scale(1.03);
    
}/*change the size on hover*/

.send-btn:active, .follow-btn:active {
    transform: scale(0.95);
    
}/*change size when clicking it*/


.middle-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}/*devideds the middle section to two parts with ration 3:1*/

#product-description {
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--description-color);
    padding: 15px;
    line-height: 1.5;
    font-weight: normal;
    font-size: large;
}/*styles the description text*/


.pricing-section {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}/*setting the parts for this section the same height with a clear gap*/

#product-rating {
    color: rgb(215, 207, 54);
}

.bottom-section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    min-height: 70px;
}/*gives different sizes for the rating and the add to cart buttons*/

.review-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--background-firstly-color);
    color: var(--text-color);
}

.stars input[type="radio"] {
    display: none;
    
}/* Hides the radio inputs */

.stars{
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
    background: none;
}/*reverse the stars order so you when you click one of the it clicks all the others that are more left then him than those on the right to him*/

.stars label {
    color: white;
    font-size: large;
    cursor: pointer;
}/*makes the stars look clickable and styles them*/


.stars label:hover,
.stars label:hover~label {
    color: rgb(215, 207, 54);

}/*changes the color of all the stars in the left to the star you hovered included to yellow*/

.stars input:checked~label {
    color: rgb(215, 207, 54) !important;
}/*changes the color of all the stars in the left to the star you clicked included to yellow*/


.add-to-cart {
    background-color: var(--primary-color);
    color: white;
    justify-content: center;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
}

.add-to-cart:hover {
    background-color: var(--primary-color-darker);
    transform: scale(1.02);
    transform: translateY(-2px);
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.2s ease-in-out;
}