<!DOCTYPE html>
<html lang="en" data-bs-theme="dark"> <!--Dark theme -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Import of bootstrap for nicer ui-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Payment/payment.js"></script>
    <link rel="stylesheet" href="/Payment/payment.css">
    <title>Payment</title>
</head>

<body onload="load_items()">
    <div id="global-div">
        <div id="search-div">
            <div class="mb-3">
                <div id="search-bar" class="input-group mb-3">
                    <input type="text" id="cart-search-input" class="form-control"
                        placeholder="Search items in your cart..."> <!--the search bar-->
                    <button class="btn btn-primary" type="button" onclick="triggerSearch()"><!--search button-->
                        <i class="bi bi-search"></i>
                    </button>
                </div>

                <div class="filter-group"> <!--the price filter-->
                    <label for="maxPrice" class="form-label">Price Range</label>
                    <div class="slider-wrapper">
                        <input type="range" class="form-range" id="maxPrice" min="0" max="1000" value="1000">
                    </div>
                    <div>
                        <span id="priceVal" class="filter-val-badge">0$ - 1000$</span>
                    </div>
                </div>

                <div class="filter-group"> <!--the quantity filter-->
                    <label for="maxQuantity" class="form-label">Quantity Range</label>
                    <div class="slider-wrapper">
                        <input type="range" class="form-range" id="max-Quantity" min="0" max="100" value="100">
                    </div>
                    <div>
                        <span id="quantityVal" class="filter-val-badge">0 - 20</span>
                    </div>
                </div>
                <div class="filter-group"> <!--the length filter-->
                    <label for="maxLength" class="form-label">Maximum Length</label>
                    <div class="slider-wrapper">
                        <input type="range" class="form-range" id="maxLength" min="0" max="20" value="20">
                    </div>
                    <div>
                        <span id="maxLengthVal" class="filter-val-badge">0 - 20</span>
                    </div>
                </div>

            </div>
        </div>
        <div id="main-div">
            <h1>Your Cart</h1>
            <div id="ds-div"><!--the top buttons-->
                <button class="top-btns-ds" onclick="delete_cart_items(this)" id="delete-btn">&#x1F5D1;</button>
                <button class="top-btns-ds" onclick="update_items_quantity(this)" id="update-btn">&#128190;</button>
            </div>
            <div>
                <span id="cart">&#128722;</span><!--the cart icon-->
            </div>
            <ul id="products-list" data-is_empty='T'> <!--The products list-->
            </ul>
            <div id="purchase-section">
                <span id="total-price">----$</span> <!--the total price-->
                <button id="purchase-button"
                    onclick="openPayment()">Purchase</button><!--opening the modal to complete the purchase-->
            </div>
        </div>
    </div>

    <div id="payment-modal" class="payment-modal hidden">
        <!-- The payment modal, the menu with the payment area and its interfaces-->
        <div class="payment-content">
            <button id="close-payment-btn" onclick="closePayment()">X</button> <!-- the exit payment modal button -->
            <h3>Checkout</h3> <br>
            <form onsubmit="complete_purchase(event,document.getElementById('submitPayment'))">
                <label for="paymentInformation" class="form-label">credit card number</label> <br>
                <!--the credit card input-->
                <input type="text" id="paymentInformation" placeholder="xxxx-xxxx-xxxx-xxxx"
                    class="form-control payment-input">
                <button type="button" id="SCCN" class="btn btn-outline-info btn-sm mt-1 mb-3"
                    onclick="useSavedCard()"><i class="bi bi-credit-card"></i>Use saved card
                    ****-****-****-****</button>
                <br><label for="paymentCVV" class="form-label">CVV</label> <br> <!--the CVV input-->
                <input type="text" id="paymentCVV" placeholder="1234" class="form-control payment-input"
                    style="max-width: 20%;"> <br>
                <input type="checkbox" id="savePaymentInformation" class="form-check-input formElemenet"
                    value="save"><!--the save CC button-->
                <label for="savePaymentInformation" class="form-check-label">save credit card number upon completing the
                    purchase</label> <br>
                <button type="submit" id="submitPayment" class="btn btn-warning w-80 mt-4"> <i
                        class="bi bi-cart-check-fill"></i>Complete Purchase</button> <!--the purchase button-->
            </form>
        </div>
    </div>

</body>

</html>