<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product:----</title>
</head>
<body>
    <div class="product-container">
        <div>
        <form>
            <input type="text" placeholder="Enter product name" value="----">
            <textarea placeholder="Enter product description"></textarea>
            <input type="text" placeholder="Enter product price" value="0.00">
            <input type="number" min = "0" max = "10000" placeholder="Enter product quantity" value="0">
            <div><button type="button">Upload product image</button> <input type="file" class = "hidden"accept="image/*"> </div>
            <div><button type="button">Upload product video</button> <input type="file" class = "hidden" accept="video/*"> </div>
            <button type="submit">Save Product</button>
            <input type="color" placeholder="Enter background color" value="#ffffff">
            <input type="color" placeholder="Enter name text color" value="#000000">
            <input type="color" placeholder="Enter description text color" value="grey">

        </form>
        </div>

    </div>
</body>
</html>