<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="/product/product_store.css">
    <title>Product: ----</title>
</head>

<body>
    <div class="product-container">
        <div class="box product-media">
            <canvas id="productImage"></canvas><!--the image canvas-->

            <video id="productVideo" controls style="display: none;"></video><!--the video element-->

            <button id="media-btn" class="send-btn" style="display: none; margin-top: 15px; max-height: 50px; width: 100%;" onclick="toggleMedia()">🎬Show Video </button> <!--button to switch between the image and video-->
        </div>

        <div class="product-details">
            <div id="owner-section">
                <span class="box" id="product-name">product name</span> <!--the product name-->

                <button id="follow-owner-btn" class="follow-btn" onclick="follow_or_unfollow(this)" disabled>➕ Follow Owner</button>
            </div>
            

            <div class="middle-section">
                <span class="box" id="product-description">product description</span><!--the product description-->

                <div class="pricing-section"><!--prices, stock and rating-->
                    <div class="box" id="product-price">original price</div>
                    <div class="box" id="product-discount">discount</div>
                    <div class="box" id="product-price-after-discount">price after discount</div>
                    <div class="box" id="product-stock">stock</div>
                    <div class="box" id="product-rating">rating</div>
                </div>
            </div>
            <div id="map" class="box hidden"></div><!--map container-->

            <div class="bottom-section"><!--bottom section for the buttons - add item to cart and send rating-->

                <div class="box review-box"><!--add rating section-->
                    <span>add review:</span>
                    <div class="stars"> <!--the clickable stars-->
                        <input type="radio" onclick="check_or_uncheck(this,5)" name="star" id="star5"><label for="star5">★</label>
                        <input type="radio" onclick="check_or_uncheck(this,4)" name="star" id="star4"><label for="star4">★</label>
                        <input type="radio" onclick="check_or_uncheck(this,3)" name="star" id="star3"><label for="star3">★</label>
                        <input type="radio" onclick="check_or_uncheck(this,2)" name="star" id="star2"><label for="star2">★</label>
                        <input type="radio" onclick="check_or_uncheck(this,1)" name="star" id="star1"><label for="star1">★</label>
                    </div>
                    <button class="send-btn" onclick="send_review(this)">send</button><!--send button-->
                </div>

                <button class="box add-to-cart-btn" onclick="add_to_cart(this)">add to cart</button><!--add to cart button-->
            </div>
        </div>
    </div>
    <script src="/product/product_store.js"></script>
</body>

</html>