<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product:----</title>
    <link rel="stylesheet" href="/product/product_edit.css">
</head>

<body>
    <div class="product-container">
        <div id="editing-section">
            <div id="edit-title-div">
                <span id="edit-title"><b><u>Editing Section:</u></b></span>
            </div>
            <form id="form">
                <div class="field-group">
                    <label for="product-name">Product Name:</label>
                    <input type="text" onchange="changed_param('product-name')" id="product-name" placeholder="Enter product name" value="----">
                </div>
                <div class="field-group">
                    <label for="product-description">Product Description:</label>
                    <textarea id="product-description" placeholder="Enter product description"></textarea>
                </div>
                <div class="field-group">
                    <label for="product-price">Product Price in dollars (max $1000):</label>
                    <input type="text" id="product-price" min = "0" max = "1000" placeholder="Enter product price" value="0.00">
                </div>
                <div class="field-group">
                    <label for="product-stock">Product Stock (max 10000):</label>
                    <input type="number" id="product-stock" min="0" max="10000" placeholder="Enter product quantity" value="0">
                </div>
                <div class="field-group">
                    <label for="product-discount">Product Discount in percentages:</label>
                    <input type="number" id="product-discount" min="0" max="100" placeholder="Enter product discount percentage" value="0">
                </div>
                
                <div class="field-group">
                    <div class="file-upload">
                        <button type="button" onclick="upload_file('product-image')">Upload product image</button>
                        <input type="file" id="image-input" class="hidden" accept="image/*">
                    </div>
                    <div class="file-upload">
                        <button type="button" onclick="upload_file('product-video')">Upload product video</button>
                        <input type="file" id="video-input" class="hidden" accept="video/*">
                    </div>
                </div>

                <div class="color-pickers">
                    <div class="field-group color-field">
                        <label for="bg-color">Background Color</label>
                        <input type="color" id="bg-color" value="#ffffff">
                    </div>
                    <div class="field-group color-field">
                        <label for="name-color">Name Text Color</label>
                        <input type="color" id="name-color" placeholder="Enter name text color" value="#000000">
                    </div>
                    <div class="field-group color-field">
                        <label for="description-color">Description Text Color</label>
                        <input type="color" id="description-color" placeholder="Enter description text color" value="#808080">
                    </div>
                </div>

                <button type="submit">Save Product</button>

            </form>
        </div>

    </div>
    <script src="/product/product_edit.js"></script>
</body>
</html>